<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Detalle de Libro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      <div>Información del libro</div>
      <div class="box">
          <div>
              <h1 th:text="${libro.titulo}"></h1>
          </div>
          <div>
              <h1 th:text="${libro.autor}"></h1>
          </div>
          <div>
              <h1 th:text="${libro.genero}"></h1>
          </div>
          <div>
              <h1 th:text="${libro.editorial}"></h1>
          </div>
          <div>
              <h1 th:text="${libro.isbn}"></h1>
          </div>
      </div>
      <div>
          <form th:action="@{/ejemplar/{idLibro}/registro(idLibro=${libro.idLibro})}" method="post">
              <button type="submit">Registrar ejemplar</button>
          </form>
      </div>
      <div class="box">
          <table>
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Código</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr th:each="ejemplar : ${ejemplares}">
                      <td th:text="${ejemplar.idEjemplar}"></td>
                      <td th:text="${ejemplar.codigo}"></td>
                  </tr>
              </tbody>
          </table>
      </div>
      <a th:href="@{/libro}">
          <button>Salir</button>
      </a>
  </body>
</html>
