<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mantenimiento de Libros</title>
</head>
<body>

<h1>📚 Mantenimiento de Libros</h1>

<br>

<a th:href="@{/libro/crear}">
    <button>➕ Nuevo libro</button>
</a>

<br><br>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Género</th>
            <th colspan="2">Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="libro : ${libros}">
            <td th:text="${libro.idLibro}"></td>
            <td th:text="${libro.titulo}"></td>
            <td th:text="${libro.autor}"></td>
            <td th:text="${libro.genero}"></td>

            <td>
                <a th:href="@{/libro/editar/{id}(id=${libro.idLibro})}">
                    <button>✏ Editar</button>
                </a>
            </td>
            <td>
                <form th:action="@{/libro/estado/{id}(id=${libro.idLibro})}"
                      method="post">

                    <button type="submit"
                            th:text="${libro.activo} ? 'Dar de baja' : 'Rehabilitar'">
                    </button>

                </form>
            </td>
        </tr>
    </tbody>
</table>

<br>

<a href="/">
    <button>🏠 Inicio</button>
</a>

</body>
</html>