<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Usuarios</title>
</head>
<body>

<h1>👤 Lista de Usuarios</h1>

<br>

<a th:href="@{/usuario/crear}">
    <button>Registrar Usuario</button>
</a>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido 1</th>
            <th>Apellido 2</th>
            <th>Username</th>
            <th>Rol</th>
            <th colspan="2">Acción</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.idUsuario}"></td>
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.apellido1}"></td>
            <td th:text="${usuario.apellido2}"></td>
            <td th:text="${usuario.username}"></td>
            <td th:text="${usuario.rol}"></td>
            <td>
                <a th:href="@{/usuario/editar/{id}(id=${usuario.idUsuario})}">
                    <button>Editar</button>
                </a>
            </td>
            <td>
                <form th:action="@{/usuario/estado/{id}(id=${usuario.idUsuario})}"
                      method="post">

                    <button type="submit"
                            th:text="${usuario.activo} ? 'Dar de baja' : 'Rehabilitar'">
                    </button>

                </form>
            </td>
        </tr>
    </tbody>
</table>

<br>

<a href="/">
    <button>🏠 Inicio</button>
</a>

</body>
</html>