<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.es">
  <head>
    <title>Registro Libro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      <form th:action="@{/libro/crear}" 
            th:object="${libro}" 
            method="post">

          <div>
              <label for="titulo">Título</label>
              <input type="text" 
                     id="titulo"
                     th:field="*{titulo}" 
                     required>
          </div>

          <div>
              <label for="autor">Autor</label>
              <input type="text" 
                     id="autor"
                     th:field="*{autor}" 
                     required>
          </div>
          
          <div>
              <label for="genero">Género</label>

              <select id="genero" th:field="*{genero}" required>

                  <option value="">Seleccione un rol</option>

                  <!-- ADMIN puede crear todos -->
                  <option value="ACCION">Acción</option>
                  <option value="HISTORICA">Histórica</option>
                  <option value="CIENCIA_FICCION">Ciencia ficción</option>
                  <option value="NOVELA_NEGRA">Novela negra</option>
                  <option value="ROMANTICA">Romántica</option>
                  <option value="ENCICLOPEDIA">Enciclopedia</option>
                  <option value="DICCIONARIO">Diccionario</option>
                  <option value="POESIA">Poesía</option>
                  <option value="TEATRO">Teatro</option>
              </select>
          </div>
          
          <div>
              <label for="isbn">ISBN</label>
              <input type="text" 
                     id="isbn"
                     th:field="*{isbn}" 
                     required>
          </div>
          
          <div th:if="${error}">
              <p th:text="${error}"></p>
          </div>

          <div th:if="${success}">
              <p th:text="${success}"></p>
          </div>
          <div>
              <button type="submit">
                  Crear libro
              </button>
          </div>

      </form>
  </body>
</html>
