<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>
        Nuevo préstamo
    </title>
</head>

<body>

<h1>
    Nuevo préstamo
</h1>

<form method="post"
      th:action="@{/prestamo/registro}"
      th:object="${prestamoDTO}">

    <!-- ID préstamo -->
    <input type="hidden" th:field="*{idPrestamo}">

    <!-- ========================= -->
    <!-- USUARIO -->
    <!-- ========================= -->

    <div>

        <label>Usuario</label>

        <select th:field="*{idUsuario}" required>

            <option value="">
                Seleccione usuario
            </option>

            <option th:each="usuario : ${usuarios}"
                    th:value="${usuario.idUsuario}"
                    th:text="${usuario.nombre + ' ' + usuario.apellido1}">
            </option>

        </select>

    </div>

    <br>

    <!-- ========================= -->
    <!-- EJEMPLAR -->
    <!-- ========================= -->

    <div>

        <label>Ejemplar</label>

        <select th:field="*{idEjemplar}" required>

            <option value="">
                Seleccione ejemplar
            </option>

            <option th:each="ejemplar : ${ejemplares}"
                    th:value="${ejemplar.idEjemplar}"
                    th:text="${ejemplar.codigo + ' - ' + ejemplar.libro.titulo}">
            </option>

        </select>

    </div>

    <br>

    <!-- ========================= -->
    <!-- FECHAS -->
    <!-- ========================= -->

    <div>

        <label>Fecha inicio</label>

        <input type="date"
               th:field="*{fechaInicio}"
               required>

    </div>

    <br>

    <div>

        <label>Fecha fin</label>

        <input type="date"
               th:field="*{fechaFin}"
               required>

    </div>

    <br>

    <!-- ========================= -->
    <!-- BOTÓN -->
    <!-- ========================= -->

    <button type="submit">Registrar préstamo</button>

</form>

<br>

<a th:href="@{/prestamo}">
    Volver
</a>

</body>
</html>