<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.es">
  <head>
    <title>Ejemplar</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      <form th:action="@{/ejemplar/{idLibro}/registro(idLibro=${ejemplar.libro.idLibro})}" 
            th:object="${ejemplar}" 
            method="post">

          <div>
              <label for="codigo">Código</label>
              <input type="text" 
                     id="codigo"
                     th:field="*{codigo}" 
                     required>
          </div>

          <div>
              <label for="editorial">Editorial</label>
              <input type="text" 
                     id="editorial"
                     th:field="*{editorial}" 
                     required>
          </div>
          
          <input type="hidden" th:field="*{libro.idLibro}">
          <div>
              <button type="submit">
                  Añadir Ejemplar
              </button>
          </div>

      </form>
  </body>
</html>
